In [1]:
# Dependencies
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np
import scipy.stats as st

In [2]:
# Path to data files 
mouse_metadata_path = ("Resources/Mouse_metadata.csv")
study_results_path = ("Resources/Study_results.csv")

# Read data files 
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [12]:
# Merge data 
data_merged = pd.merge(study_results, mouse_metadata, how="left", on=["Mouse ID"])
data_merged

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [4]:
# Check number of mice 
number_mice = data_merged['Mouse ID'].nunique()
number_mice

249

In [5]:
# Duplicate Mouse ID 
duplicate_mouse_ids = data_merged.loc[data_merged.duplicated(subset=['Mouse ID', 'Timepoint']), 'Mouse ID'].unique
duplicate_mouse_ids

<bound method Series.unique of 137     g989
360     g989
681     g989
869     g989
1111    g989
Name: Mouse ID, dtype: object>

In [6]:
# Data for duplicate ID
duplicate_mouse_data = data_merged.loc[data_merged['Mouse ID'] == "g989"]
duplicate_mouse_data

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [7]:
# Clean dataframe by dropping duplicate Mouse ID 
clean_data_merge = data_merged.drop_duplicates(subset=['Mouse ID'])
clean_data_merge

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
245,t565,0,45.0,0,Capomulin,Female,20,17
246,i557,0,45.0,0,Capomulin,Female,1,24
247,m957,0,45.0,0,Capomulin,Female,3,19
248,f966,0,45.0,0,Capomulin,Male,16,17
249,m601,0,45.0,0,Capomulin,Male,22,17

In [8]:
# Number of mice 
update_number_mice = clean_data_merge['Mouse ID'].nunique()
update_number_mice

249

In [9]:
# Summary Statistics 
drug_regimen = data_merged.groupby('Drug Regimen')
summary_statistics = drug_regimen.agg(
    mean_tumor_volume = ('Tumor Volume (mm3)', np.mean),
    median_tumor_volume = ('Tumor Volume (mm3)', np.median),
    variance_tumor_volume = ('Tumor Volume (mm3)', np.var),
    std_dev_tumor_volume = ('Tumor Volume (mm3)', np.std),
    SEM_tutor_volume = ('Tumor Volume (mm3)', st.sem)
)

rename_column = {
    'mean_tumor_volume': 'Mean Tumor Value',
    'median_tumor_volume': 'Median Tumor Value',
    'variance_tumor_volume': 'Variance Tumor Volume',
    'std_dev_tumor_volume': 'Std Dev Volume',
    'SEM_tutor_volume': 'SEM Tutor Volume'
}
summary_statistics.rename(columns=rename_column, inplace=True)
summary_statistics

,Mean Tumor Value,Median Tumor Value,Variance Tumor Volume,Std Dev Volume,SEM Tutor Volume
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398